body{
    background-image: url(Untitled.png);
    background-size:cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}
.form{
    margin:15px 0px;
}
.container{
    display: flex;
    justify-content: center;
    height:100%;
    align-items: center;
}
.box{
    background-color: white;
    padding: 10px;
    width: max-content;
    height: max-content;
    
}
.heading h2{
    padding-bottom: 15px;
    margin-bottom: 10px;
    text-align: center;
}
.heading{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
label{
    font-weight:bold;
    margin: 5px;

}
.formconotent{
    margin: 10px 0px;
}
.formcontent input{
    padding: 10px;
    width: 400px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    background-color:#EAEAEA;
    color: gray;
}
.submit{
    border-top:  1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-bottom: 0px;
    
}
.submit button{
    width: 100%;
    border: none;
    padding: 10px;
    background-color:black;
    color: white;
    margin-top: 10px;
    
    
}
.submit button:hover{
    background-color: #222222;
}
