.division {
    background-color: aliceblue;
    padding: 2%;
    
}

.divisio {
    background-color:beige;
    padding: 18.5%;
}

.divisi {
    background-color: grey;
    padding: 1%;
    position: relative;
}