div{
    padding: 10px;
    margin: 20px;
}
.first {
    border: 2px solid red;
    border-radius: 20px;
    padding: 10px;
}

.sec {
    border: 2px solid red;
    border-radius: 20px;
    border-radius: 40px 20px 40px 20px;
    padding: 10px;
}