.rainbow {
    background: linear-gradient(to right, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #8B00FF);
    margin: 0px;
    color: grey;
    font-weight:bold;
    text-align: center;
    font-size: 50px;
    height: 60px;
}
